* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-family: 'Bitter', serif;
}

h2 { 
    font-family: 'Bitter', serif;
}

.nav-bar {
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    background: white;
}

#logo {
    background-size: 100%;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.fa-check-circle {
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.nav-bar-items {
    height: 80px;
}

.nav-bar-links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.nav-bar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #6C63FF;
    color: white;
}

.button:hover {
    background: black;
    transition: all 0.3s ease;
    text-decoration: #6C63FF;
}

.nav-bar-links:hover {
    color: #6C63FF;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: black;
    }

    .nav-menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 2rem;
    }

    #logo {
        padding-left: 25px;
    }

    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .nav-bar-items {
        width: 100%;
    }

    .nav-bar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 70%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav-bar-btn {
        padding: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0; 
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%)
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

    .main-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        margin: 0;
        height: 100vh;
        width: 100%
        
    }

    .main-container h1 {
        font-size: 6rem;
        font-family: 'Bitter', serif;
    }

    .main-container h2 {
        font-size: 2rem;
        color: #6C63FF;
        background-size: 100%;
        font-family: 'Open Sans', sans-serif;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }

    .sec-button {
        margin-top: 4vh;
        font-size: 1rem;
        padding: 10px 30px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
        transition: all 0.3s;
        outline: none;
        background-color: #6C63FF;

    }

    .sec-button a {
        position: relative;
        z-index: 2;
        text-decoration: none;
        color: white;
    }

    .sec-button:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: all 0.3s;
        border-radius: 4px;
    }

    .sec-button:hover {
        background-color: black;
    }

    #main-img {
        height: 60vh;
    }

    /* mobile */

    @media (max-width: 1100px) {
        .main-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 auto;
        }

        .main-content h1{
            font-size: 2.5rem;
            margin-top: 2rem;
        }

        .main-content h2 {
            font-size: 3rem;
        }

        .main-content p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }

        .main-img-container {
            text-align: center;
            margin-top: 40px;
        }

        #main-img {
            height: 300px;
        }
    }

    @media screen and (max-width: 480px) {
        .main-content h1{
            font-size: 2rem;
            margin-top: 3rem;
    }

    .margin-content h2 {
        font-size: 1rem;
    }

    .main-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .sec-button {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Testimonal */

.testimonal {
    display: flex;
    justify-content: center;
    background-color: #6C63FF;
    padding: 100px;
    text-align: center;
}

.testimonal h2 {
    font-family: 'Bitter', serif;
    font-size: 3rem;
}

.testimonal p {
    font-family: 'open-sans', serif;
    font-size: 2rem;
}

/* photo */

.photo-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container img {
    height: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.photo-content {
    font-family: 'Open Sans', sans-serif;
}

.photo-content li {
    list-style-type: circle;
    height: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

/* mobile */

@media only screen and (max-width: 700px) {
    .photo-section {
        display: flex;
        text-align: center;
    }
}

/* footer */

.footer {
    background-color: #6C63FF;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.footer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.icons .fab {
    color: white;
    font-size: 1.5rem;
    margin: 0 5px;
    margin-top: 10px;
    cursor: pointer;
}
